body { background-color: #f5f5f5; color: #333; }
#Page-login { background-color: #ffffff; }
#password-input { background: #f9f9f9; border: 1px solid #ccc; padding: 15px; border-radius: 5px; width: 250px; text-align: center; }

#Page-menu { background: radial-gradient(circle at 30% 50%, #ffffff 0%, #f0f0f0 100%); }
.menu-title { font-size: 4rem; font-weight: 900; color: #222; text-transform: uppercase; }
.menu-big-btn { background: #fff; border: 1px solid #ccc; padding: 15px 40px; font-weight: bold; cursor: pointer; border-radius: 5px; display: flex; align-items: center; gap: 15px; box-shadow: 0 2px 5px rgba(0,0,0,0.05); }
.menu-big-btn:hover { border-color: #0078d4; color: #0078d4; background-color: #f0f8ff; }

#Panel-haut, #Panel-gauche, #viewport-3d { background-color: #ffffff; border-color: #e0e0e0; }
#Panel-haut { border-bottom: 1px solid #e0e0e0; }
#Panel-gauche { border-right: 1px solid #e0e0e0; }

.accordion { background-color: #f9f9f9; border: none; border-bottom: 1px solid #eee; padding: 15px; font-weight: bold; cursor: pointer; text-align: left; width: 100%; }
.accordion:hover { color: #0078d4; background-color: #f0f0f0; }
.input-wrapper { background-color: #f5f5f5; border: 1px solid #ddd; }
.input-wrapper input { border: none; background: transparent; color: #0078d4; font-weight: bold; width: 45px; text-align: right; }
.unit { color: #999; font-size: 0.7rem; }
